
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">LOGIN</h2>
@using (Html.BeginForm())
{
    <table style="margin:0 auto">
        <tr>
            <td>Usuario</td>
            <td>@Html.TextBox("login", "")</td>
        </tr>

        <tr>
            <td>Clave</td>
            <td>@Html.TextBox("clave", "", new { @type = "password" })</td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="INGRESAR" class="btn btn-default" />
                @Html.ActionLink("Retornar", "Tienda", new { nombre = "" }, new { @class = "btn btn-default" })
                @Html.ActionLink("REGISTRAR", "Registro","ECommerce", new { nombre = "" }, new { @class = "btn btn-success" })
            </td>
        </tr>
    </table>

}

<div>
    @ViewBag.mensaje
</div>
